/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
bashscripts/


## AI
.claude/
.gemini/
.ai/
.ai-context/
.cursor/
.Windsurf/
.windsurf/
.cursorrules
IFLOW.md
GEMINI.md
CLAUDE.md

.ai
.ai-context
.claude
.clauderules
.cursor
.gemini
#.github
.github.backup-20260130_174027/
.iflow
.junie
.phive
.vscode
.windsurf
.zai


laravel/database/migrations/
public_html/js/
public_html/fonts/
public_html/css/
public_html/vendor/
laravel/lang/vendor/
vendor/
laravel/Themes/Meetup/resources/views/profile/partials/delete-user-form.blade.php:Zone.Identifier
laravel/Themes/Meetup/resources/views/profile/partials/update-password-form.blade.php:Zone.Identifier
laravel/Themes/Meetup/resources/views/profile/partials/update-profile-information-form.blade.php:Zone.Identifier
